@model List<DCDGear.Models.ProductCategory>

@foreach (var item in Model.Where(d => d.ParentID == null))
{
    var child = Model.Where(d => d.ParentID == item.ID);

    <li>
        <a href="/san-pham/@item.SeoTitle-@item.ID "> @item.Name<i class="fa fa-chevron-right"></i></a>

        <!-- menu con sổ ngang cấp 1 -->
        <ul>
            @foreach (var childItem in child)
            {
                <li>
                    <a href="/san-pham/@childItem.SeoTitle-@childItem.ID ">@childItem.Name</a>
                </li>
            }
        </ul>
    </li>
}