
@{
    ViewBag.Title = "ConfirmRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="duongDan">
        <a style="text-decoration:none" href="/">Trang Chủ</a>
        <a>>></a>
        <a style="text-decoration:none" href="/dang-nhap">Đăng nhập</a>
    </div>
    @ViewBag.Success
    <form action="/User/ConfirmRegister" method="post">
        @{
            var sess = (DCDGear.Common.UserLogin)Session["Confirm"];
            if (sess != null)
            {
                <div class="col-6">
                    Vui lòng nhập mã kích hoạt trong mail để kích hoạt tài khoản!!
                    <div class="tenTruyCap">
                        <label><b>Code <p style="color:red; float:right">*</p></b></label>
                        <input type="text" name="Code" id="Code" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6" style="padding-left:100px">
                        <div class="btn-dangKy">
                            <button type="submit">Đăng Ký</button>
                        </div>
                        <a href="@Url.Action("ResendMail","User",new {@strURL= Request.Url.ToString() })" style="color:black;font-weight:bold">Gửi lại mã</a>
                    </div>
                </div>
            }
            else
            {
                <div class="col-6">
                    <div class="tenTruyCap">
                        <label><b>Tên đăng nhập:<p style="color:red; float:right">*</p></b></label>
                        <input type="text" name="UserName" id="UserName" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="tenTruyCap">
                        <label><b>Code <p style="color:red; float:right">*</p></b></label>
                        <input type="text" name="Code" id="Code" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6" style="padding-left:100px">
                        <div class="btn-dangKy">
                            <button type="submit">Đăng Ký</button>
                        </div>
                    </div>
                </div>
            }
        }

    </form>
    </div>

