
@{
    ViewBag.Title = "EnterCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="/User/EnterCode" method="post">
    @{
        if (ViewData["Success"] != null)
        {
            <div id="tempdata" class="alert alert-success ">
                Cập nhật mật khẩu thânh công
            </div>
        }
        var sess = (DCDGear.Common.UserLogin)Session["Confirm"];
        if (sess != null)
        {
            <div class="col-6">
                <div class="tenTruyCap">
                    <label><b>Code <p style="color:red; float:right">*</p></b></label>
                    <input type="text" name="Code" id="Code" />
                </div>
            </div>
            <div class="row">
                <div class="col-6" style="padding-left:100px">
                    <div class="btn-dangKy">
                        <button type="submit">Tiếp theo</button>
                    </div>
                </div>
            </div>
        }
    }

</form>

