@model DCDGear.ViewModel.RegisterModel
@{
    ViewBag.Title = "ForgotPassWord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ForgotPassWord", "User", FormMethod.Post, new { @style = "padding-left: 300px" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="tenTruyCap">
        <div class="col-6">
            <div class="Email">
                <label><b>Email<p style="color:red; float:right">*</p></b></label>
                @Html.TextBoxFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-6" style="padding-left:100px">
                <div class="btn-dangKy">
                    <button type="submit">Gửi mail</button>
                </div>
            </div>
        </div>

    </div>
}
