@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <p>
        <strong>DCDgear</strong> là một thương hiệu tiên phong trong lĩnh vực cung cấp máy tính chất lượng và hiệu năng cao phục
        vụ các nhu cầu học tập, làm việc và giải trí. Với lợi thế là đối tác c
        ủa các nhà cung cấp máy tính và linh kiện hàng đầu thế giới như MSI
        , Asus, Kingston, Samsung, Crucial, Xgear mang đến cho khách hàng những giải pháp xây
        dựng máy tính hoàn chỉnh, linh kiện nâng cấp chính hãng và chất lượng. Vì vậy, máy tính của bạn sẽ
        luôn đạt hiệu suất làm việc cao nhất.
    </p>
    <p>
        <strong>DCDgear</strong> cung cấp công cụ để bạn có thể tự xây dựng cấu hình máy tính theo ý muốn,
        xem trước các mức giá và tư vấn để bạn đưa ra lựa chọn phù hợp với nhu cầu.
    </p>
    <p><strong>DCDgear</strong> là đối tác chiến lược của Memoryzone, một thương hiệu chuyên về bộ nhớ lưu trữ hàng đầu tại Việt Nam.</p>
    <p><strong>DCDgear</strong> là một thương hiệu của Siêu Tốc.</p>
</div>