
@{
    ViewBag.Title = "DoiTra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="duongDan">
        <a style="text-decoration:none" href="/">Trang Chủ</a>
        <a>>></a>
        <a style="text-decoration:none" href="/dang-nhap">Chính Sách Đổi Trả</a>
    </div>
    <h1>Chính sách đổi - trả hàng</h1>
    <h2>THÔNG TIN CHÍNH SÁCH ĐỔI - TRẢ HÀNG </h2>
    <h3>(Sáng: 7h45 - 11h45, Chiều: 1h30 - 17h30) từ thứ 2-7  - nghỉ trưa chỉ 105 phút )</h3>
    <h2>I.  Quy định chung:</h2>
    <p>1. Khách hàng được đổi sản phẩm cùng loại nếu sản phẩm gặp sự cố không thể khắc phục được (do lỗi kỹ thuật của nhà sản xuất).</p>
    <p>2. Trong trường hợp không còn sản phẩm cùng loại để đổi mới, Digital Tech đổi cho Quý khách hàng sản phẩm khác có giá trị tương đương sản phẩm lỗi.</p>
    <h2>II.  Phí đổi trả hàng :</h2>
    <p>Nếu hàng hư trong 07 ngày :  đổi trả hàng miễn phí.</p>
    <p>Nếu hàng không hư : trong vòng 1 ngày làm việc, đổi trả hàng miễn phí. Trên 1 ngày và dưới 7 ngày : mức phí đổi hàng là 10% và trả  hàng là 15% , riêng khách hàng tỉnh cộng thêm tối đa 7 ngày = 14 ngày từ ngày Digital Tech lớn xuất bán .  Nếu vượt qua thời gian này, Digital Tech từ chối nhận lại hàng .</p>
    <h2>III.   Điều kiện đổi hàng:</h2>
    <p>1. Sản phẩm không vi phạm điều kiện bảo hành của hãng hoặc nhà phân phối chính thức tại Việt Nam.</p>
    <p> 2. Sản phẩm còn nguyên hiện trạng ban đầu ( không bị trầy xước, biến dạng và còn đầy đủ các phụ kiện kèm theo như vỏ hộp, sách hướng dẫn, đĩa cài, …) và có phiếu xuất kho bán hàng hoặc hóa đơn mua hàng. </p>
    <p>3. Thời gian đổi trả hàng : trong vòng 07 ngày đối với khách hàng HCM và 14 ngày đối với khách hàng tỉnh .</p>
    <p>4. Chỉ áp dụng đối với hàng Digital Tech bán và không áp dụng đối với các sản phẩm là hộp mực in, mực đổ , phần mềm, máy in , quà tặng , máy bộ trâu cày ,  ổ cứng mới rách bọc ngoài hoăc đã cài dữ liệu , CPU box Intel mất niêm phong Intel , máy ráp nguyên bộ ( ráp gây trầy xước chân cắm, quạt ...) , máy bộ trâu cày, SSD Intel mất niêm phong , LCD cong từ 32 trở lên. </p>
    <p>Chú ý: Không đổi mới với các lỗi do cảm nhận cá nhân (như loa nhỏ, màn hình không sáng, hình thức không đẹp ... so với dòng sản phẩm khác).</p>
    <h2>IV.Cách thức Digital Tech nhận hàng đổi trả</h2>
    <p>Khách hàng ở HCM :  Quý khách mang trực tiếp hàng vào Khu bảo hành - đổi trả hàng của Digital Tech tại 80 Hoàng Hoa Thám, lấy số thứ tự , tới lượt mang sản phẩm gặp nhân viên đổi trả để yêu cầu dịch vụ . Nếu đủ điều kiện trả hàng , nhân viên Digital Tech làm phiếu HÀNG BÁN TRẢ LẠI , có số tiền , đưa khách hàng qua thu chi ở Khu trưng bày nhận tiền. Thời gian không quá 45 phút</p>
    <p>Khách hàng ở các tỉnh:  chuyển phát nhanh tới tận công ty Digital Tech.</p>
    <p>1. Hàng hóa khách hàng đóng gói cẩn thận tránh hư hỏng, va đập để tránh bị từ chối nhận lại . Riêng với mặt hàng điện tử dễ vỡ, xin quý khách không gởi dịch vụ chuyển phát Viettel , Digital Tech đã gởi qua dịch vụ này ra miền bắc và màn hình bị vỡ tỷ lệ trên 40%. </p>
    <p>2.  Vui lòng ghi Thông tin người nhận :</p>
    <p>- PHÒNG BẢO HÀNH CÔNG TY TTHH CÔNG NGHỆ DIGITAL TECH </p>
    <p> - Địa chỉ : 80 đường Hoàng Hoa Thám, Phường 12, Quận Tân Bình, TP.HCM. </p>
    <p>  - ĐT: 0903 955 507</p>
</div>