
@{
    ViewBag.Title = "VanChuyen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="duongDan">
        <a style="text-decoration:none" href="/">Trang Chủ</a>
        <a>>></a>
        <a style="text-decoration:none" href="/dang-nhap">Phương Thức Vận Chuyển</a>
    </div>
    <div>
        <h1>Phương thức vận chuyển</h1>
        <p>
            Phương thức vận chuyển
            CHÍNH SÁCH VẬN CHUYỂN
        </p>
        <p>
            Digital Tech Giao hàng toàn quốc bằng 3 phương thức vận chuyển:
        </p>
        <p>
            + Giao hàng trực tiếp tại nội thành và ngoại thành TPHCM:
        </p>
        <p>
            * Digital Tech miễn phí vận chuyển cho tất cả các đơn hàng giao trực tiếp tại nội thành và ngoại thành TPHCM
        </p>
        <p>------------------------------------------------------------------------------------------------------</p>
        <p>
            + Giao Hàng Thu Hộ (COD) - Chuyển Phát Nhanh VNPost
        </p>
        <p>* Hàng hóa sẽ được chuyển đến tận nhà khách hàng và nhân viên CPN sẽ bàn giao và thu tiền tại nhà. </p>
        <p>* Ưu điểm: Phương thức này không cần thanh toán trước và được vận chuyển đến tận nhà. Tuy nhiên thời gian vận chuyển sẽ lâu hơn so với vận chuyển qua chành xe (từ 24 - 36 giờ - Tùy theo từng địa phương) Digital Tech MIỄN PHÍ VẬN CHUYỂN CÁC ĐƠN HÀNG COD TRÊN TOÀN QUỐC</p>
        <p>- ĐỂ TẠO ĐIỀU KIỆN THUẬN TIỆN HƠN TRONG VIỆC MUA HÀNG ONLINE</p>
        <p>** LƯU Ý: Một số sản phẩm không áp dụng giao hàng COD bao gồm: PC-Máy bộ, Màn hình, Laptop, Ghế chơi game, Loa.</p>
        <p>------------------------------------------------------------------------------------------------------</p>
        <p>+ Giao Hàng Chành Xe</p>
        <p>* Khách hàng vui lòng chuyển khoản trước cho Digital Tech vì các chành xe không có dịch vụ thu hộ. </p>
        <p>* Ưu Điểm: nhanh và tiết kiệm. Hàng hóa có thể nhận được trong ngày mà không cần chờ đợi lâu.</p>
        <p>* Nếu nhà khách hàng gần chành xe có thể ra chành xe nhận hàng hoặc chành xe giao trực tiếp trên các cung đường xe đi. </p>
        <p>* TOÀN BỘ CƯỚC VẬN CHUYỂN QUA CHÀNH XE Digital Tech THANH TOÁN CƯỚC PHÍ TRƯỚC. KHÁCH HÀNG CHỈ CẦN NHẬN HÀNG KHÔNG CẦN THANH TOÁN CƯỚC VẬN CHUYỂN</p>
        <p>* Đối với các bộ PC và GHẾ có chương trình KHUYẾN MÃI sẽ tính phí vận chuyển:</p>
        <p>+ Các tỉnh từ Đà Nẵng trở vào đến Cà Mau: 150.000 VND</p>
        <p>+ Các tỉnh Phía Bắc : 300.000 VND</p>
    </div>
</div>
