
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Success"] != null)
{
    <div id="tempdata" class="alert alert-success" style="text-align:center">
        <strong>Đơn hàng của bạn đang được xử lý</strong>
    </div>
}
<div style="text-align:center"><a href="/">Quay lại trang chủ</a></div>

